code {
  display: none;
}

body {
  min-width: 14.28571429rem;
  overflow-x: hidden;
  width: 100%;
}

body #main {
  overflow-y: visible;
}

.slider input {
  display: none;
}

.applyOnlineH5 {
  margin-bottom: 0px !important;
}

.phoneNoBold {
  font-weight: bold;
}

.becomeHappyCustomers {
  font-size: 15px;
}

[data-context$=locomotive_index] #main-bg {
  width: 100%;
  min-height: 44.28571429rem;
  height: 44.28571429rem;
  left: 0;
  top: 0;
  position: absolute;
  background: url(../images/home-hero-small.png) center no-repeat;
  background-size: cover;
  background-color: #41454F;
}

[data-context$=locomotive_index] #main-bg .bureau-badge {
  display: block;
  position: absolute;
  right: 0.85714286rem;
  bottom: 0.85714286rem;
}

[data-context*=locomotive]:not([data-context$=locomotive_index]) #main-bg {
  height: 360px !important;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media screen and (max-width: 47.4375em) {
  [data-context$=locomotive_index] #main-bg .bureau-badge {
    display: none;
  }

  [data-context$=locomotive_index] #main-bg {
    min-height: 39.5rem;
    height: 39.5rem;
  }
}

@media screen and (max-width: 47.4375em) {
  [data-context*=locomotive]:not([data-context$=locomotive_index]) #main-bg {
    background-image: url(../images/generic-hero-small.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: auto;
  }
}
@media screen and (min-width: 47.5em) {
  [data-context*=locomotive]:not([data-context$=locomotive_index]) #main-bg {
    background-image: url(../images/generic-hero-small.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: auto;
  }
}

[data-context*=locomotive][data-context*=partner] #main-bg {
  height: 360px !important;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
@media screen and (max-width: 47.4375em) {
  [data-context*=locomotive][data-context*=partner] #main-bg {
    background-image: url(../images/generic-hero-small.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: auto;
  }
}
@media screen and (min-width: 47.5em) {
  [data-context*=locomotive][data-context*=partner] #main-bg {
    background-image: url(../images/generic-hero-small.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: auto;
  }
}

:not([data-context*='engines#']) body.loaded {
  background: #ebebeb;
}
:not([data-context*='engines#']) body.loaded #main .nav-bg {
  z-index: 4;
}

.small-centered, .medium-centered, .large-centered {
  float: none !important;
}

.holderjs {
  display: inline-block;
}

.position-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 6;
}

@media screen and (max-width: 47.4375em) {
  .position-sticky--scroll {
    opacity: 0 !important;
  }
}

.main-copy-1, .main-copy-2 {
  text-shadow: 0 0 1px #0a0a0a;
  color: #fefefe;
  text-align: center;
}

.main-copy-1 {
  font-size: 3rem;
  margin-top: 10rem;
}
@media screen and (max-width: 22em) {
  .main-copy-1 {
    font-size: 2.42857143rem;
    margin-top: 2rem;
  }
}
@media screen and (min-width: 22em) and (max-width: 47.4375em) {
  .main-copy-1 {
    font-size: 2.42857143rem;
    margin-top: 7rem;
  }
}
@media screen and (min-width: 47.5em) and (max-width: 66.1875em) {
  .main-copy-1 {
    font-size: 2.71428571rem;
    margin-top: 8.57142857rem;
  }
}

@media screen and (max-width: 47.4375em) {
  .main-copy-2 {
    font-size: 1.28571429rem;
    margin: 1.14285714rem 1.71428571rem 2.28571429rem;
  }
}

.biggerApplyNow {
  font-size: 20px;
}

a.apply-now {
  position: relative;
  width: 40%;
  background-color: #e98319;
  margin: 1.28571429rem 0px;
}
@media screen and (max-width: 47.4375em) {
  a.apply-now {
    display: block;
    width: 100%;
  }
}
a.apply-now::after {
  font-family: "icomoon";
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  content: "";
  color: #fefefe;
  margin: 0;
  padding: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  display: block;
  font-size: 1.14285714rem;
  margin-top: -0.57142857rem;
  position: absolute;
  right: 1.14285714rem;
  text-indent: 0;
  top: 50%;
}

input[type=submit], .input.approximate_length label[type=submit].collapse-left {
  position: relative;
}
input[type=submit]::after, .input.approximate_length label[type=submit].collapse-left::after {
  font-family: "icomoon";
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  content: "";
  color: #fefefe;
  margin: 0;
  padding: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  display: inline-block;
  font-size: 1.14285714rem;
  margin-top: -0.57142857rem;
  position: absolute;
  right: 1.14285714rem;
  text-indent: 0;
  top: 50%;
}

input[type=submit], .input.approximate_length label[type=submit].collapse-left, button[type=submit] {
  background-color: #2199e8;
}

.credit-score-copy {
  font-family: "Indie Flower";
  font-style: normal;
  font-weight: 400;
  color: #fefefe;
}

.review-hero, .friendly-hero {
  border-radius: 71.42857143rem;
  display: inline-block;
  height: 4.57142857rem;
  margin-bottom: 1.71428571rem;
  width: 4.57142857rem;
}

.friendly-hero {
  background-image: url(../images/support-hero.png);
  background-position: top center;
  border: 0.07142857rem solid #aeaeae;
}


/*
 * Masthead
 *
 */
.masthead {
  position: relative;
  display: block;
  color: #fefefe;
  height: 5rem;
  padding: 0.71429rem 0.42857rem 0px 0;
  z-index: 10;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.masthead--overlay {
  background-color: rgba(21, 30, 52, 0.85);
  z-index: 6;
}

@media screen and (max-width: 47.4375em) {
  .position-sticky--scroll .masthead {
    opacity: 0 !important;
  }
}

/* line 14, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/components/_masthead.scss */
.masthead a {
  color: white;
}

/* line 18, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/components/_masthead.scss */
.masthead-left {
  display: inline-block;
  float: left;
}
/* line 22, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/components/_masthead.scss */
.masthead-left a {
  white-space: nowrap;
  position: relative;
  z-index: 6;
}
/* line 27, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/components/_masthead.scss */
.masthead-left a.logo {
  margin-top: 0px !important;
  z-index: 8;
}
/* line 32, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/components/_masthead.scss */
.masthead-left a.logo img {
  position: relative;
  top: -4px;
}
/* line 37, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/components/_masthead.scss */
.masthead-left span.tagline {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  margin-left: 0.28571rem;
  padding-left: 0.57143rem;
  border-left: 1px solid #fefefe;
  word-spacing: 0.14286rem;
}
@media screen and (max-width: 66.1875em) {
  /* line 37, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/components/_masthead.scss */
  .masthead-left span.tagline {
    display: none;
  }
}
/* line 49, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/components/_masthead.scss */
.masthead-left span.secure {
  display: block;
  margin-top: -8px;
  margin-left: 12px;
  font-size: 1rem;
  font-weight: 100;
}
/* line 88, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/modules/_icons.scss */
.masthead-left span.secure::before {
  font-family: "icomoon";
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  content: "";
  font-size: 16px;
  color: #fefefe;
  margin: 0;
  padding: 0;
  z-index: 4;
  display: inline-block;
  font-size: 0.85714rem;
  margin-right: 0.28571rem;
}

/* line 64, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/components/_masthead.scss */
.masthead-right {
  position: relative;
  display: inline-block;
  float: right;
  z-index: 6;
  margin-top: 0.57143rem;
}
/* line 71, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/components/_masthead.scss */
.masthead-right a {
  font-size: 1rem;
}

/* line 76, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/components/_masthead.scss */
.masthead .navigation {
  display: inline-block;
  list-style: none;
  font-size: 1rem;
}
@media screen and (max-width: 47.4375em) {
  /* line 76, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/components/_masthead.scss */
  .masthead .navigation {
    display: none;
  }
}
/* line 85, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/components/_masthead.scss */
.masthead .navigation ul {
  margin: 0px 0px 1.71429rem;
}
/* line 89, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/components/_masthead.scss */
.masthead .navigation p, .masthead .navigation hr, .masthead .navigation .close {
  display: none;
  vertical-align: middle;
}
/* line 94, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/components/_masthead.scss */
.masthead .navigation p {
  margin-top: 1.71429rem;
}
@media screen and (min-width: 47.5em) {
  /* line 94, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/components/_masthead.scss */
  .masthead .navigation p {
    display: none;
  }
}
/* line 102, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/components/_masthead.scss */
.masthead .navigation .close {
  position: absolute;
  top: 18px;
  right: 18px;
}
/* line 108, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/components/_masthead.scss */
.masthead .navigation .navigation__item {
  display: inline-block;
  margin: 0px 0.71429rem;
  vertical-align: middle;
}
/* line 113, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/components/_masthead.scss */
.masthead .navigation .navigation__item:first-child {
  margin-left: 1.42857rem;
}

/* line 121, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/components/_masthead.scss */
.masthead.expanded .navigation p, .masthead.expanded .navigation hr, .masthead.expanded .navigation .close {
  display: block;
}
@media screen and (max-width: 47.4375em) {
  /* line 119, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/components/_masthead.scss */
  .masthead.expanded .navigation {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(21, 30, 52, 0.95);
    margin: 0px;
    padding: 5.14286rem 1.28571rem 1.28571rem;
  }
}
@media screen and (max-width: 47.4375em) {
  /* line 137, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/components/_masthead.scss */
  .masthead.expanded .navigation .navigation__item {
    display: block;
    text-align: center;
    width: 100%;
    margin: 1.14286rem 0px;
  }
}

/* line 147, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/components/_masthead.scss */
.masthead .phone, .masthead .hamburger {
  display: inline-block;
  margin: 0px 0.42857rem;
}

/* line 152, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/components/_masthead.scss */
.masthead .phone {
  font-weight: 700;
}
/* line 88, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/modules/_icons.scss */
.masthead .phone::before {
  font-family: "icomoon";
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  content: "";
  font-size: 16px;
  color: #fefefe;
  margin: 0;
  padding: 0;
  z-index: 4;
  display: inline-block;
  margin-right: 0.28571rem;
}

/* line 161, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/components/_masthead.scss */
.masthead .hamburger {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 28px;
  height: 16px;
}
/* line 79, /Users/timgremore/entrision/acquisition/node_modules/foundation-sites/scss/util/_mixins.scss */
.masthead .hamburger::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: #8a8a8a;
  top: 0;
  left: 0;
  box-shadow: 0 7px 0 #8a8a8a, 0 14px 0 #8a8a8a;
}
/* line 105, /Users/timgremore/entrision/acquisition/node_modules/foundation-sites/scss/util/_mixins.scss */
.masthead .hamburger:hover::after {
  background: #ebebeb;
  box-shadow: 0 7px 0 #ebebeb, 0 14px 0 #ebebeb;
}
@media screen and (min-width: 47.5em) {
  /* line 161, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/components/_masthead.scss */
  .masthead .hamburger {
    display: none;
  }
}

/* line 169, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/components/_masthead.scss */
.masthead.expanded .hamburger {
  display: none;
}

/* line 173, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/components/_masthead.scss */
.masthead .apply-now {
  padding: 0.28571rem 0.42857rem;
  border-color: #fefefe;
}

/* line 178, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/components/_masthead.scss */
.masthead.expanded .apply-now {
  padding: 0.85714rem;
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 195, /Users/timgremore/entrision/acquisition/app/assets/stylesheets/components/_masthead.scss */
.slide-left {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}
