.primary-content {
  margin:auto;
  padding-top:50px;
  padding-bottom: 25px;
  width:70%;
}

@media screen and (max-width: 47.4375em) {
  .primary-content {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 90%;
  }
}

.accordion-title {
  font-size:1.5rem;
}
.accordion-title::before {
  font-weight:900;
  font-family:'Arial Black','Impact';
  font-size:3rem;
  top:20%;
}
.is-active > .accordion-title::before {
  font-weight:900;
  font-family:'Arial Black','Impact';
  font-size:3rem;
  top:20%;
}
