.primary-content {
  margin:auto;
  padding-top:50px;
  padding-bottom: 25px;
  width:70%;
}

@media screen and (max-width: 47.4375em) {
  .primary-content {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 90%;
  }
}

div.accordion-title {
  font-size:1.5rem;
}
.accordion-title::before {
  font-family:'Arial Black','Impact';
  font-size:1.5rem;
  top:20%;
}
.is-active > .accordion-title::before {
  font-family:'Arial Black','Impact';
  font-size:1.5rem;
  top:20%;
}

/* ==================== */

body:not(.home, .about) {
  font-size: 15px !important;
  color: #151E34 !important;
}
body:not(.home, .about) body, body:not(.home, .about) p, body:not(.home, .about) h1, body:not(.home, .about) h2, body:not(.home, .about) h3, body:not(.home, .about) h4, body:not(.home, .about) ul, body:not(.home, .about) li, body:not(.home, .about) dd, body:not(.home, .about) dl, body:not(.home, .about) dt, body:not(.home, .about) table, body:not(.home, .about) tr, body:not(.home, .about) th td {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-weight: 300 !important;
}
body:not(.home, .about) p, body:not(.home, .about) li, body:not(.home, .about) td {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-size: 15px !important;
  font-weight: 300 !important;
  line-height: 21px !important;
}
body:not(.home, .about) li {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  margin-bottom: 10px !important;
}
body:not(.home, .about) h1, body:not(.home, .about) h2, body:not(.home, .about) h3, body:not(.home, .about) h4 {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-weight: 600 !important;
}
body:not(.home, .about) h1.override {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-size: 2.2rem !important;
  line-height: 3rem !important;
  margin-bottom: 4px !important;
}
body:not(.home, .about) h2.override {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-size: 1.6rem !important;
  line-height: 2.4rem !important;
  margin: 24px 0 4px 0 !important;
}
body:not(.home, .about) h3.override {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-size: 1.2rem !important;
  line-height: 1.8rem !important;
  margin-bottom: 4px !important;
}
body:not(.home, .about) h4.override {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-size: 1rem !important;
  line-height: 1.6rem !important;
  margin-bottom: 4px !important;
}
body:not(.home, .about) table {
}
body:not(.home, .about) tbody, body:not(.home, .about) tr, body:not(.home, .about) td {
  text-align: center;
  border-collapse: collapse;
  margin: 0;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #151E34;
  font-size: 15px;
  font-weight: 300;
  width: 33%;
}
body:not(.home, .about) tbody tr:nth-child(odd) {
  background-color: #f1f1f1;
}
body:not(.home, .about) tbody tr:nth-child(even) {
  background-color: #ffffff;
}
body:not(.home, .about) tbody tr:nth-child(odd) td {
  font-size: 12px;
  line-height: 18px;
}
body:not(.home, .about) tbody tr:nth-child(even) td {
  font-size: 15px;
  font-weight: 400;
  color: #db750b;
  line-height: 25px;
}
body:not(.home, .about) .accordion {
  font-size: 1rem !important;
}
body:not(.home, .about) h2.inaccordion {
  font-size: 1.2em !important;
  line-height: 1.2em !important;
}
body:not(.home, .about) h3.inaccordion {
  font-size: 1.2em !important;
  line-height: 1.2em !important;
}
body:not(.home, .about) .accordion-title {
  font-size: 1.2rem !important;
}
body:not(.home, .about) .accordion-title::before {
  top: 50% !important;
}
body:not(.home, .about) .is-active > .accordion-title::before {
  content: '-' !important;
  top: 50% !important;
}
